<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Learning Vue Js 3

   </title>
</head>
<body>
    <div id="app-root">
        <h2 style="text-align: center;">Products</h2>
        {{ name }}
       <div class="container">
        <div class="card" v-for="item in products" :key="item.id">
          <img :src="item.img" alt="">
          <h3 class="title">{{ item.title }}</h3>
          <p class="desc">{{ item.description }}</p>
          <p class="brand">{{ item.brand }}</p>
          <div class="colors">
           <!--  <span v-for="color in item.colors" :style="`background: ${color}`">{{ color }}</span> -->
           <span v-for="color in item.colors" :style="`background: ${color}`"></span>
          </div>
          <p class="price">{{ item.price }}</p>

        </div>
         </div>
         <h2 style="text-align:center;">{{ age }}</h2>
    </div>
   
    <div id="app_root_2" class="students">
      <h2 style="text-align: center;">Students</h2>
      <h4 v-for="(name, i) in students" :key="i">{{ name }}</h4>
      <button @click="increaseAge">Click Here</button>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
</body>
</html>