<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Learning Vue Js 3

   </title>
</head>
<body>
    <div id="app-root">
      <h3>His name is {{ name }}, His age is {{ age }}</h3>
      <p v-if="age < 30">His age is younger than 30</p>
      <p v-if="age > 30">His age is older than 30</p>
      <button @click="age++">Increase age</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
</body>
</html>